@import '../../styles/variables.scss';

.nt-modal {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 3px;
	transform: translate(-50%, -50%);
	&__style {
		&--dark {
			background-color: $dark-charcoal;
			color: $cadet-blue;
		}
		&--light {
			background-color: $cadet-blue;
			color: $dark-charcoal;
		}
	}
}
